@import "./styles/variables.css";
@import "./styles/dashboard.css";
@import "./styles/components.css";

body {
  margin: 0;
  font-family: "Poppins", "Roboto", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-base);
  color: var(--color-text);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
